---
import "@fontsource/urbanist";
import "@fontsource-variable/jost";
import "../styles/global.scss";
import { Image } from "astro:assets";
import icon from "../images/icon.png";
import Navigation from "../components/Navigation.astro";
import External from "../components/External.astro";
interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;

const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<External />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a class="sr-only focus:not-sr-only skip-link" href="#about"
			>Skip to main content</a
		>
		<header>
			<a href="/" rel="home">
				<Image class="icon" src={icon} alt="Pixel Hill" />
			</a>
			<Navigation />
		</header>

		<slot />

		<footer>
			<p>
				&copy;<span id="footer-year">{year}</span>&nbsp;Pixel Hill Studios. All
				rights reserved.
			</p>
		</footer>
	</body><script is:inline data-astro-rerun>
		document.getElementById("footer-year").innerText = new Date().getFullYear();

		const menu = document.getElementById("menu");
		const menuToggle = document.getElementById("menu-toggle");

		menu.addEventListener("click", handleMenuClick);

		function handleMenuClick(event) {
			if (event.target instanceof HTMLAnchorElement) {
				menuToggle.checked = false;
			}
		}
	</script>
</html>

<style lang="scss" is:global>
	:root {
		--color-brand-green: #025306;
		--color-darkest-green: #172d16;
		--color-alt-green: #77ab3c;
		--color-alt-green-light: #c7eb9d;
		--color-text-reverse: #fff;
		--gradient-greens: linear-gradient(
			var(--color-brand-green),
			var(--color-alt-green),
			var(--color-alt-green-light)
		);
		--gradient-brand-to-light: linear-gradient(
			var(--color-brand-green),
			var(--color-alt-green)
		);
		--gradient-brand-to-dark: linear-gradient(
			var(--color-brand-green),
			var(--color-darkest-green)
		);
		--gradient-dark-to-brand: linear-gradient(
			var(--color-darkest-green),
			var(--color-brand-green)
		);
		--headerOpacity: 1;
		--headerScale: 1;
		--shortHeight: var();
	}

	header {
		background: var(--color-brand-green);
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		position: relative;
		z-index: 10;

		.icon {
			border: 2px solid #fff;
			height: 4rem;
			padding: 0.5rem;
			width: 4rem;
		}
	}
</style>
