---
import "@fontsource/urbanist";
import { Image } from "astro:assets";
import icon from "../images/icon.png";
interface Props {
	title: string;
}

const { title } = Astro.props;

const year = new Date().getFullYear();

const navItems = [
	{
		path: "/about",
		label: "About",
	},
	{
		path: "/projects",
		label: "Projects",
	},
	{
		path: "/contact",
		label: "Contact",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" rel="home">
				<Image class="icon" src={icon} alt="Pixel Hill" />
			</a>

			<nav>
				{
					navItems.map((item) => {
						return <a href={item.path}>{item.label}</a>;
					})
				}
			</nav>
		</header>

		<slot />

		<footer>
			<p>
				&copy;<span id="footer-year">{year}</span>&nbsp;Pixel Hill Studios. All
				rights reserved.
			</p>
		</footer>
	</body>
	<script is:inline data-astro-rerun>
		document.getElementById("footer-year").innerText = new Date().getFullYear();
	</script>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Urbanist", sans-serif;
		font-size: 100%;
		background: #ffffff;
		background-size: 224px;
	}
</style>
<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	header {
		align-items: baseline;
		background: var(--color-gray-100);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
	}

	.icon {
		border: 1px solid #fff;
		height: 2rem;
		padding: 0.5rem;
		width: 2rem;
	}

	nav {
		display: flex;
		gap: 1rem;
	}

	nav a {
		color: #fff;
		font-size: 1.25rem;
		font-weight: 700;
		text-decoration: none;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.75rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	p {
		font-size: 2rem;
	}

	footer {
		font-size: 1rem;
		margin-top: auto;
		padding: 3rem 5% 2rem;
	}

	footer p {
		display: flex;
		flex-wrap: wrap;
		font-weight: 700;
		justify-content: center;
	}

	footer a {
		color: var(--color-gray-600);
		display: block;
	}

	@media (min-width: 400px) {
		header {
			flex-direction: row;
		}
	}
</style>
