---
import "@fontsource/urbanist";
import { Image } from "astro:assets";
import icon from "../images/icon.png";
interface Props {
	title: string;
}

const { title } = Astro.props;

const year = new Date().getFullYear();

const navItems = [
	{
		path: "/about",
		label: "About",
	},
	{
		path: "/projects",
		label: "Projects",
	},
	{
		path: "/contact",
		label: "Contact",
	},
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" rel="home">
				<Image class="icon" src={icon} alt="Pixel Hill" />
			</a>

			<input class="menu-btn" type="checkbox" id="menu-btn" name="menu-btn" />
			<label class="menu-icon" for="menu-btn">
				<span class="navicon" aria-label="Hamburger menu 'icon'"></span>
			</label>

			<nav>
				{
					navItems.map((item) => {
						return <a href={item.path}>{item.label}</a>;
					})
				}
			</nav>
		</header>

		<slot />

		<footer>
			<p>
				&copy;<span id="footer-year">{year}</span>&nbsp;Pixel Hill Studios. All
				rights reserved.
			</p>
		</footer>
	</body>
	<script is:inline data-astro-rerun>
		document.getElementById("footer-year").innerText = new Date().getFullYear();
	</script>
</html>
<style is:global>
	:root {
		--color-green-brand: #025306;
		--color-text: #172d16;
	}
	html {
		color: var(--color-text);
		font-family: "Urbanist", sans-serif;
		font-size: 18px;
		line-height: 1.45;
	}
	* {
		box-sizing: border-box;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	header {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
	}

	#menu-btn {
		position: absolute;
		top: -100%;
		left: -100%;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 250px;
		margin-right: 2rem;
	}

	.icon {
		border: 2px solid;
		border-color: var(--color-green-brand);
		height: 4rem;
		padding: 0.5rem;
		width: 4rem;
	}

	nav {
		display: flex;
		gap: 1rem;
	}

	nav a {
		color: inherit;
		font-size: 1.25rem;
		font-weight: 700;
		text-decoration: none;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	p {
		font-size: 1.5rem;
	}

	a {
		color: var(--color-green-brand);
	}

	footer {
		font-size: 0.75rem;
		margin-top: auto;
		padding: 3rem 5% 2rem;
	}

	footer p {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	footer a {
		color: var(--color-gray-600);
		display: block;
	}

	@media (min-width: 400px) {
		header {
			flex-direction: row;
		}
	}
</style>
